.container {
  margin-top: 85px;
}
.AvantBottom {
  margin-top: 100px;
}
.aide {
  text-decoration: none;
  font-weight: bold;
  color: #344e78;
}
.sousImg{
  margin-top: 30px;
}
.text {
  color: #344e78;
  font-weight: 900;
  font-size: 25px;
  font-family: Arial Black;
}
/* .rectangle {
  background-color: #d2daea;
  height: 200px;
  width: 200px;
  border-radius: 12px;
} */

.square {
  float: left;
  background-color: #d2daea;
  border-radius: 12px;
  position: relative;
  width: 35%;
  padding-bottom: 35%; /* = width for a 1:1 aspect ratio */
  margin: 1.66%;
  overflow: hidden;
}

.content {
  position: absolute;
  height: 80%; /* = 100% - 2*10% padding */
  width: 90%; /* = 100% - 2*5% padding */
  padding: 10% 5%;
}

.ptitlogo{
  background-color: white;
  padding: 0.3rem;
  border-radius: 5px;
  color: #344e78;
}

.nomTache{
  color:#344e78 ;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
}

.descTache{
  font-size: 14px;
  color: #4d4d4d;
  text-size-adjust:calc(50%);
}

.divFleche{
  text-align: right;
  color: #344e78;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  font-size: 26px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -45px;
}
a{
  text-decoration: none;
  color:#344e78;
}